<div class="d-flex justify-content-center text-success">
  <h1 mat-dialog-title>{{formName}}</h1>
</div>
<div mat-dialog-content>
  <form [formGroup]="objectForm">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let i of sub" [value]="i.name">
          {{i.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label style="font-weight: bold">Gender</label>
    <mat-radio-group formControlName="gender"
                     aria-labelledby="example-radio-group-label"
                     class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let ele of gender" [value]="ele">
        {{ele}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="price" type="number" matInput placeholder="Price">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close="">close</button>
  <button mat-raised-button color="primary"
          [disabled]="objectForm.invalid"
          (click)="add()">{{actionBtn}}
  </button>
</div>
