th {
  font-weight: bolder;
  color: black;
  text-transform: capitalize;
}

.filter {
  font-size: 15px;
  width: 100px;
}

.header {
  height: 70px;
}

#filter-div {
  position: fixed;
  top: 220px;
  right: 8px;
}

#add-div {
  position: fixed;
  top: 320px;
  right: 30px;
}
